# Data science Tools and Ecosystem

# in this notebook, Data Science tools and Ecosystems are summarized:

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. PyTorch
3. OpenCV
4. Scikit-learn

|Data Science Tools|
|------------------|
|Apache Spark|
|Tableu|
|MATLAB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
# this will convert 200 minutes to hours by diving by 60
minutes = 200
hours  = minutes // 60
print(hours)

3

**Objectives**

* Python 
* scala
* SQL
* Julia
* Perl
* MATLAB

## Author
Sahil